# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.manifest
*.spec
env/
venv/
ENV/
*.pyc
*.pyo
*.pyd
*.log

# ========================
# Django
# ========================
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.pyo
*.pyd
*.log
local_settings.py

# ========================
# Environment / Secrets
# ========================
.env
*.env
.env.*

# ========================
# IDEs / Editors
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# ========================
# OS / System
# ========================
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.bak

# ========================
# Node / JS (por si tienes frontend con ethers.js)
# ========================
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# ========================
# MySQL / Backups
# ========================
*.sql
*.dump
node_modules/
node_modules/
